{% extends "base.html" %}

{% block title %}Main page{% endblock title %}


{% block index_is_active %}active{% endblock index_is_active %}


{% block body_class %}{% endblock body_class %}


{% block content %}
	
	<div class="container students">
		<div class="page-header">
			<h1 class="descr">Description: Проффесиональные Python курсы от PyBursa</h1>
			<div class="jumbotron">
				<p class="deviz">Запишись на курсы Python</br>
				Попади в тренд современной</br>
				WEB разработки</p>
				<p>Наибольшей проблемой всех учебников и статей, по которым начинают изучать
				<span class="py">Python</span> - это отсутствие практики с освоенным материалом.</br>
				Можно читать тонны ресурсов по веб-программированию на <span class="py">Python</span> 				- и не научиться ничему, потому что знания, которые вы не успели применить, очень
        быстро забываются.</br>
				Многие начинающие сдаются на полпути, так как устают, им надоедает бесконечное
				блуждание по сети в поисках крупиц информации, из которых трудно собрать общую
				картину.</p>
				<p>Мы предлагаем современные подходы к обучению! У нас Вы научитесь всему что
				понадобится для успешного старта карьеры в IT!</p>
			</div>
		</div>
	</div>

{% endblock content %}
{% block previous %}{% endblock previous %}
