{% extends "base.html" %}

{% block title %}Free Steam Keys{% endblock title %}


{% block index_is_active %}active{% endblock index_is_active %}


{% block body_class %}{% endblock body_class %}


{% block content %}
  
   
	
	<div class="container students">
    <div class="blog-header">
        <h1 class="blog-title">Free Steam Keys</h1>
        <p class="lead blog-description">The official giveaways of steam keys.</p>
        <hr>
   </div>
		<div class="row">

        <div class="col-sm-8 blog-main">
{% for post in posts %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ post.name }} Giveaway</h2>
            <p class="blog-post-meta">{{ post.created_at|date:'d N Y' }}</p>

            <p><img src="http://cdn.akamai.steamstatic.com/steam/apps/{{ post.game_id }}/header.jpg" alt="{{ post.name }}" class="img-rounded"></p>
            <p>1. Go to <a href="{{ post.link }}" target="_blank">{{ post.link }}</a></p>
            <p>{{ post.step_2 }}</p>
            <p>{{ post.step_3 }}</p>
            <p>{{ post.step_4 }}</p>
            <p>Если вы не успели, Вы всегда можете купить игру :)
            <a class="btn btn-success" href="http://store.steampowered.com/app/{{ post.game_id }}/" role="button" target="_blank">Купить</a>
            </p>
            <hr>
          
          </div><!-- /.blog-post -->
 {% endfor %} 
          

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>On this blog I will post the giveaways of steam keys</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
	</div>

{% endblock content %}
{% block previous %}{% endblock previous %}
